{% extends 'main.html' %}
{% load staticfiles %}
{% block article %}


<div class="blog-post">
    <h2 class="blog-post-title"> {{article.article_title}}</h2>
    <p class="blog-post-meta">{{article.article_date}} by <a href="#">{{article.article_author.username}}</a></p>
    <P> {% autoescape off%}{{article.article_text}}{%endautoescape%}</P>
</div><!-- /.blog-post -->
<!-----
{% for comment in comments %} <article>
      <h6>Written by <a href="#">{{comment.comments_autor.username}}</a>{{comment.comments_data}}</h6>
          <div class="row">
          <div class="large-12 columns">
            <p> {% autoescape off %}{{comment.comments_text}}{% endautoescape %}</p>
          </div>
          </div>
{% endfor %} </article>


{% if username %} <div class="primary callout">
    <form action="/articles/add_comment/{{ article.id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Добавить комментарий">
    </form>
{% else %} </div>
<h5> Для добавления комментария войдите на сайт! </h5>
{% endif %}

<hr/>
---->
{% endblock %}