{% extends 'main.html' %}
{% load staticfiles %}
{% block articles %}

{% for article in articles %}

<div class="blog-post">
            <h2 class="blog-post-title"><a href="/articles/get/{{article.id}}/"> {{article.article_title}}</a></h2>
            <p class="blog-post-meta">{{article.article_date}} by <a href="#">{{article.article_author.username}}</a></p>

            <P> {% autoescape off%}{{article.article_text_short}}{%endautoescape%}</P>



<hr/>
<P> {% autoescape off%}{{article.article_text}}{%endautoescape%}</P>
          </div><!-- /.blog-post -->









{% endfor %}

<!-----
<nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

<center><div class="row">

                <ul class="pagination" role="navigation" aria-label="Pagination">
                    {% if articles.has_previous %}
                    <li><a href="/page/{{ articles.previous_page_number }}" aria-label="Next page"> Previous <span class="show-for-sr">page</span></a></li>
                     {% else %}
                    <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}
                    {% for page in articles.paginator.page_range %}
                    {% if page == articles.number %}
                        <li><a href="/page/{{ page }}/"  class="current" aria-label="Page {{ page }}">{{ page }}</a></li>
                    {% else %}
                    <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                    {% if articles.has_next %}
                    <li><a href="/page/{{ articles.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                     {% else %}
                    <li class="disabled">Next page <span class="show-for-sr">page</span></li>
                    {% endif %}
                </ul>

   </div></center>


---->
{% endblock %}